# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Django DB
*.sqlite3
db.sqlite3

# Media (user uploaded files)
media/

# Static files (collected)
staticfiles/

# Environment variables
.env

# OS/System files
.DS_Store
Thumbs.db
